//Colors

$white: #FFF; /* White */
$white2: rgba(255, 255, 255, .10);
$black: #000; /* Black */
$gray20: #333; /*Dark charcoal*/
$dark-grey: rgba(0,0,0,.7);

$aluminium: #818A91;
/*$shark: #33353D;*/
$tomato: #ff6347;
$cello: #34495e;

$shade-of-gold: #F1D600;
$cyan-blue-medium-light-shade: #4B8EE7;


$facebook-blue: #3B5998; /* Facebook Blue */ /*header.html*/
$twitter-light-blue: #55ACEE; /* Twitter Light blue */
$linkedin: #007BB5; /* Linkedin Cerulean */

//Fonts


//Variables


//Placeholder
@mixin flexbox() {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

%box-shadow {
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
}

%box-shadow2 {
	-webkit-box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	-moz-box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	box-shadow:
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}


%align-items-center {
	 -webkit-align-items: center;
		  -ms-flex-align: center;
			 align-items: center;
}

%justify-content-center {
	-webkit-justify-content: center;
			justify-content: center;
}

@mixin transform( $val ) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin animate ($attr, $time){
	-webkit-transition: $attr $time ease-in-out;
	-moz-transition: $attr $time ease-in-out;
	-ms-transition: $attr $time ease-in-out;
	-o-transition: $attr $time ease-in-out;
	transition: $attr $time ease-in-out;
}

@mixin animate2 ($attr2, $time2){
	-webkit-transition: $attr2 $time2 linear;
	-moz-transition: $attr2 $time2 linear;
	-ms-transition: $attr2 $time2 linear;
	-o-transition: $attr2 $time2 linear;
	transition: $attr2 $time2 linear;
}

//Media Queries
$xs: 575px; /*Extra small devices (portrait phones, less than 576px)*/

$sm: 767px; /* Small devices (landscape phones, less than 768px)*/

$md: 991px; /* Medium devices (tablets, less than 992px)*/

$lg: 1199px; /* Large devices (desktops, less than 1200px)*/
