.main {
    margin: 0 auto;
    display: block;
    /*margin-top: 60px;*/
}

.header-image {
    @extend %box-shadow;
    .carousel {
        .header-content {
            @include flexbox();
            flex-direction: column;
            @extend %justify-content-center;
            align-items: center;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            h2,h4 {
                text-align: center;
                color: $tomato;
                font-weight: bold;
            }
            h2 {
                text-transform: uppercase;
            }
        }
        .carousel-img {
            max-height: 730px;
            .header-images {
                display: block;
                width: 100%;
                height: 101vh;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom center;
            }
        }
        .carousel-indicators {
            z-index: 1;
            .circles {
                border-radius: 50%;
                height: 15px;
                width: 15px;
                color: $gray20;
            }
        }
    }
}